body {
    font-family: var(--type-default);
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.section-main {
    min-height: 100vh;
}

.icon {
    stroke-width: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(3.5rem, 11vh, 8rem);
    border-bottom: 1px solid var(--color-muted-2);
}

.nav-icon {
    width: clamp(1.4rem, 3vw, 2rem);
    height: clamp(1.4rem, 3vw, 2rem);
}

.nav-items-left,
.nav-items-center,
.nav-items-right {
    display: flex;
}

.nav-item {
    display: flex;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-items-left .nav-item {
    margin-left: min(3vw, 3rem);
}

.nav-items-right .nav-item {
    margin-right: min(3vw, 3rem);
}

.nav-branding {
    font-family: var(--type-display);
    font-size: min(8vw, 2.813rem);
    font-weight: bold;
    text-wrap: nowrap;
}

.tags-list {
    display: none;
    line-height: 5rem;
    font-family: var(--type-mono);
    font-weight: 500;
    text-transform: uppercase;
    justify-content: center;
    overflow-x: hidden;
}

.tags-list>* {
    margin: 0 2rem;
    letter-spacing: 0.2rem;
    color: var(--color-muted-1);
    text-wrap: nowrap;
}

.tags-list-link {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--color-text);
    color: var(--color-bg);
    border: 1px solid var(--color-text);
    border-top: none;
    border-right: none;
}

.tags-list-icon {
    width: 2rem;
    height: 2rem;
    color: inherit;
}

.hero-images {
    display: flex;
    justify-content: center;
    height: 38vh;
}

.hero-img {
    background-size: cover;
    flex-grow: 1;
    max-width: 350px;
    position: relative;
}
.hero-img-1 {
    background: url("/img/{{DATA.HERO_IMG_1.file}}") center center no-repeat;
}
.hero-img-2 {
    background: url("/img/{{DATA.HERO_IMG_2.file}}") center center no-repeat;
}
.hero-img-3 {
    background: url("/img/{{DATA.HERO_IMG_3.file}}") center center no-repeat;
}

.intro-text {
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    font-weight: 200;
    margin: 4vh 0;
}

.intro-cta {
    display: block;
    margin: auto;
    border: 2px solid var(--color-text);
    background-color: transparent;
    text-transform: uppercase;
    padding: 1.4rem;
    letter-spacing: 0.5rem;
}

.intro-cta:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
}

.section-blog-list {
    max-width: 60rem;
    width: 100%;
    padding: 0 0 0.5 0rem;
    margin: 0 auto;
}

.section-heading {
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: min(8vw, 3rem);
    font-weight: 500;
    font-family: var(--type-display);
}
.section-heading > a:hover {
    text-decoration: underline;
}

.blog-list-none {
    color: var(--color-muted-1);
    text-align: center;
}

.blog-list-item {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
}
.blog-list-item:hover {
    background-color: #aaa3;
}

.blog-list-top-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-list-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.blog-list-date {
    color: var(--color-muted-1);
    white-space: nowrap;
}

.blog-list-tags {
    margin: 1rem 0;
}

.blog-list-tag {
    color: var(--color-muted-1);
    margin-right: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

/* BLOG POST */
.blog-parent {
    display:flex;
}
.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60rem;
    margin: auto;
    margin-top: 0;
    padding: 2rem 1rem;
}

.blog-wrapper time {
    color: var(--color-muted-1);
}

.blog-wrapper h1 {
    margin: .5rem 0;
}

.blog-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.blog-wrapper p a {
    color: var(--color-link);
}

.blog-wrapper img {
    margin: 2rem auto;
    background-color: var(--color-muted-2);
}

/* BLOG POST END */

.simple-wrapper {
    max-width: 75rem;
    margin: auto;
}

.simple-wrapper>h1 {
    text-align: center;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2rem 0;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


footer {
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid var(--color-muted-2);
    font-weight: 500;
    margin-top: 5rem;
}

.footer-icon {
    display: inline;
    width: 1rem;
    height: 1rem;
    fill: #ff242f;
    stroke: none;
    position: relative;
    top: 0.2rem;
}

.nav-menu {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000b;
    backdrop-filter: blur(5px);
    transition: all .2s ease-in;
}
.show-nav-menu {
    display: unset;
}
.fade-nav-menu {
    opacity: 1;
}

.nav-menu-items {
    position: absolute;
    right: -30rem;
    top: 0;
    bottom: 0;
    width: min(30rem, 100vw);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transition: all .2s ease-in;
}
.fade-nav-menu .nav-menu-items {
    right:0;
}
.nav-menu button {
    position: absolute;
    top: 2rem;
    right: min(3vw, 4rem);
    width: 2rem;
    height: 2rem;
    z-index: 10000;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.nav-menu button .icon {
    width: 100%;
    height: 100%;
}
.nav-menu-item {
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
}

html:has(.fade-nav-menu), body:has(.fade-nav-menu) { overflow: hidden }

@media(min-width: 1145px) {
    .tags-list {
        display: flex;
    }

    .hero-images {
        gap: 1rem;
    }

    .blog-list-top-row {
        flex-direction: row;
        place-items: center;
    }
}

/* Landscape screens */
@media(aspect-ratio > 1) {
    .hero-images {
        height: 50vh;
    }
}
