
:root {
    --color-bg: white;
    --color-text: black;
    --color-muted-1: #7e7e7e;
    --color-muted-2: #ccc;
    --color-link: #0d5aff;

    --type-default: "Poppins", sans-serif;
    --type-display: "Sacramento", serif;
    --type-mono: "DM Mono", monospace;
}

:root[data-theme='dark'] {
    --color-bg: black;
    --color-text: white;
}
