nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 5rem;
    background-color: var(--background-color);
}

.nav__logo {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--foreground-color)
}

.nav-links {
    display: none;
}

.nav-links li {
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

.nav-links a {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--foreground-color);
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.nav-mobile li {
    margin: 2rem 0;

}

.nav-mobile ul a {
    display: block;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--foreground-color);
}

.nav-mobile button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}


.hero {
    /* background-color: #ff05; */
    min-height: calc(100vh - 5rem);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2rem;
}

.hero__intro {
    /* background-color: #5ac5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 70%;
}

.hero__name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.hero__title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
    text-align: center;
}

.hero__blurb {
    max-width: 30rem;
    font-size: 1.5rem;
    padding: 2rem;
}


.cta {
    display: flex;
    justify-content: center;
}

.cta-1,
.cta-2 {
    display: inline-block;
    color: var(--foreground-color);
    font-size: .8rem;
    border: 2px solid var(--foreground-color);
    padding: 0.5rem 1rem;
    margin: 0.1rem;
    text-align: center;
    min-width: 6rem;
}

.cta-1:hover,
.cta-2:hover {
    background-color: var(--highlight-color);
    color: white;
    border-color: var(--highlight-color);
}

.cta-1 {

    background-color: var(--foreground-color);
    color: var(--background-color);
    border-color: var(--foreground-color);
}


.hero__stack {
    /* background-color: #a5f5; */
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__stack>div {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.hero__stack>div>span {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    min-width: 8rem;
    min-height: 8rem;
    border-radius: 1rem;
    border: 2px solid var(--foreground-color);
    border-bottom-width: 4px;
}

.hero__stack>div>span>svg {
    width: 40%;
    height: 40%;
    margin-bottom: 0.5rem;
}



.about {
    background-color: var(--background-color-2);
}


.about .shrink-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
}


.about .shrink-wrapper img {
    max-width: calc(100vw - 2rem);
    max-height: 20rem;
    margin: 1rem;
    object-fit: cover;
    border-radius: 1rem;
}

.about .shrink-wrapper>div {
    margin: 0 1rem;
}

.about .section-title {
    text-align: center;
}

.section-title {
    font-weight: 700;
    color: var(--highlight-color);
    line-height: 4rem;
    margin: 0;
}

.about__title {
    margin: 0;
    font-size: 2rem;
}





.project {
    background-color: var(--background-color-2);
    border-radius: .75rem;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .carousel-root {
    max-width: 30rem;
}

.carousel li {
    display: flex;
    justify-content: center;
}

.project .carousel {
    border-radius: .75rem;
}

.project .carousel,
.carousel .slider-wrapper,
.carousel .slider,
.carousel li div,
.carousel img {
    max-height: 20rem;
}


.project img {
    border-radius: .75rem;
    object-fit: contain;
    height: 100%;
}


.project__info {
    margin: 1rem;
}

.project__name {
    font-size: 1.5rem;
    font-weight: 700;
}

.projects .tags {
    margin: 1rem 0;
}

.projects .tags>* {
    font-weight: 700;
    margin-right: 1rem;
}

.projects .links {
    margin: 1rem 0;
}

/* Tablet and wider */
@media (min-width:900px) {
    nav {
        padding: 0 2rem;
    }

    .nav-links {
        display: flex;
    }

    .btn-nav-mobile {
        display: none;
    }


    .hero {
        padding: 0;
        grid-template-rows: 2fr 3fr;
    }

    .hero__intro {
        flex-direction: row;
        align-items: end;
    }

    .hero__info {
        margin: 0 3rem;
    }

    .hero__stack>div {
        gap: 1rem;
    }



    .about>.wrapper {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .about .shrink-wrapper {
        flex-direction: row;
    }

    .about .shrink-wrapper img {
        min-width: 25rem;
        margin-right: 5rem;
    }

    .about .section-title {
        text-align: left;
    }


    .projects .section-title {
        align-self: flex-start;
    }

    .project {
        flex-direction: row;
    }

    .project:nth-child(even) {
        flex-direction: row-reverse;
    }
}